*{
	margin: 0;
	padding: 0;
}
.container{
  max-width: 1980px;
  width: 80%;
  margin: auto;
}
.logo{
	width: 97px;
	height: 55px;
}
header{
	background-color: #0A22F4;
}
nav a{
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
}
.font {
	font-size: 32px;
	font-weight: bold;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.blue {
  background-color: blue; 
}

.light-blue {
  background-color: lightblue;
}
.dots-div {
	display: flex;
	gap: 20px;
}
.layout-servises-dots{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cube{
	width: 70px;
	height: 70px;
	background-color: #F9F9F9;
}
.cube-blue{
	width: 70px;
	height: 70px;
	background-color: #0A22F4;
}
.article-font-h2{
	font-size: 22px;
	font-weight: bold;
}
.article-font-p{
	font-size: 16px;
}
.header-wrapper, nav ul{
	list-style: none;
	display: flex;
	gap: 40px;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
.contact-nav{
	position: revert;
	width: 160px;
	height: 55px;
	background-color: #FFFFFF;
}
.div-nav-a{
	position: absolute;
	padding-top: 18px;
  	padding-right: 43px;
  	padding-bottom: 18px;
  	padding-left: 36px;
	color: #171717;
}
.size{
	width: 463px;
	height: 235px;
}
.layout	{
	display: flex;
	gap: 20px;
}